body {
    background-color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;
}

#category-h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size: 57px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: 200px;
    gap: 2px;
    row-gap: 2px;
}

@media (max-width: 2000px) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 342px;
    background-color: white;
}

/* .product-img-container {
    padding: 10px;
} */

.product-image {
    width: 342px;
    height: 340px;
}