body {
    background-color: rgb(255, 255, 255);
    font-family: 'DM Sans', sans-serif;
}

#category-h1 {
    font-family: 'DM Serif Text', sans-serif;
    font-size: 57px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: 200px;
    gap: 2px;
    row-gap: 2px;
}

@media (max-width: 2000px) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1300px) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 971px) {
    #grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 342px;
    background-color: rgb(245, 241, 241);
}

/* .product-img-container {
    padding: 10px;
} */

.product-image {
    width: 342px;
    height: 350px;
}

.btn-light {
    background-color: rgb(245, 241, 241) !important;
    transition: .5s ease-in-out;
}

.btn-light:hover {
    background-color: white !important;
}