body {
  font-family: 'DM Sans', sans-serif;
}

.image {
  width: 1001px;
  height: 650px;
}

#right-content {
  height: 92vh;
}

.login-signup-h1 {
  font-family: 'DM Serif Text', sans-serif;
  font-size: 50px;
}

.btn {
  font-size: 1rem !important;
  padding: 0.9rem 0;
}


.error-message {
  color: red;
}

